<ion-header>
  <ion-navbar>
    <ion-title>
      Command
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Table n°</ion-label>
    <ion-input type="number"  min="1" max="99" [(ngModel)]="table" name="table" value="1"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row *ngFor="let command of menu.commands">
      <ion-col>{{command.meat}}</ion-col>
      <ion-col>{{command.meal}}</ion-col>
      <ion-col>{{command.sauce ? "Sauce" : "Sans Sauce"}}</ion-col>
      <ion-col *ngIf="command.child">Enfant</ion-col>
    </ion-row>
  </ion-grid>
  <button [navPush]="mealPage" ion-button>New Meal</button>
</ion-content>
