.command_row {
  margin: 2px;
}

.command_col {
  border: 1px solid #eceaea;
  background-color: #F8F8F8;
}

.text-center {
  text-align: center;
}

.vert-align {
  display: block;
  vertical-align: middle;
}

.table_nb_title {
  font-size: 30px;
}

.table_nb {
  font-size: 30px;
  text-align: right;
}
