.command_row {
  margin: 2px;
}

.command_col {
  border: 1px solid #eceaea;
  background-color: #F8F8F8;
}

.command_nb {
  font-size: 6vh;
}

.text-center {
  text-align: center;
}

.vert-align {
  display: block;
  vertical-align: middle;
  margin: auto;
}

.table_nb_title {
  font-size: 30px;
}

.table_nb {
  font-size: 30px;
  text-align: right;
}

.addButton {
  color: #2dd26a;
}

.rmButton {
  color: red;
}
